.navigasi li {
	background-color: pink;
	display: inline;
}


main {
	background-color: lightblue;
}

.main span {
	background-color: lightgreen;
}

a {
	background-color: red;
	width: 200px;
	height: 200px;
	/* tidak berpengaruh (lebar dan tingginya masih tetap sama ) */
	/* display dari a adalah inline */
}


img {
	width: 200px;
	height: 200px;
}